 body
    {
        background-color: #249991;
    }
	

table {
    width: 100%;
    height: 100%;   
    table-layout: fixed;
    padding: 30px;
	border-collapse: collapse;
	background-color:white;
}

thead
{
	border:20px solid #1e6b65;
}
thead > tr > th {
    padding: 25px;
	background-color:#1e6b65;
	color:white;
	border:none;
}

tbody
{
	border:20px solid white;
}

tbody > tr > td {
    position: relative;
    border: 1px solid #d5d5d5;
    width: auto;
    height: auto;
}

tbody > tr > td:hover {
    background-color: #daedff;
    cursor: default;
    transform:scale(1.05);
	color:black;
}

.calendar-button {
	border:none;
    background-color: transparent;
	color:white;
	outline:none;
}
.calendar-button:hover{
    transform:scale(1.5);
    cursor: pointer;
	border:none;
}

.today {
    background-color: #4ecdc4;
    color:white;
}

.inactive-month {
    color: darkgray;
}


.date {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size:100%;
}

.event {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}
#Calendar
	{
		width: 650px;
		height: 500px;
		margin: auto;
		padding: 20px;
	}
	
@media screen and (max-width: 360px) {
 #Calendar
	{
		width: 100%;
		height: 75%;
		margin: auto;
		padding: 20px;
	}
}
